.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1280px;
  margin-top: 3em;
  margin-bottom: 2em;
}

.espacio {
  margin-bottom: 2em;
}

.title {
  color: var(--principal-color);
  margin: 1em 0;
}

.ul {
  padding-left: 2em;
}