.container {
  max-width: 1280px;
  width: 90%;
  margin: 3em auto;
}

.title {
  font-size: 3em;
  margin-bottom: 1em;
  color: var(--principal-color);
}

.description {
  margin-bottom: 2em;
}

.lista {
  padding-left: 3em;
}

.lista li {
  margin-bottom: 1em;
}

.subtitle {
  margin-bottom: 0.8em;
  font-size: 1.5em;
  color: var(--principal-color);
}

.link {
  color: rgb(49, 78, 158);
  font-weight: bold;
}

.special {
  color: var(--principal-color);
  font-size: 1.2em;
  margin-bottom: 1em;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em 0;
}

.image {
  width: 400px;
  max-width: 100%;
  margin: 0.5em;
  border: 3px solid var(--principal-color);
}